/* Scope only Pomodoro */
.pomodoro-container {
    width: 100%;
    background-color: #f8d8e4;
    padding: 2em;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-bottom: 1.5em;
  }
  
  .btn {
    padding: 0.8em 1.6em;
    border-radius: 8px;
    background-color: #8b7a7f;
    color: white;
    font-weight: 500;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background-color: #a39097;
  }
  
  .active {
    background-color: #de5b92 !important;
    color: white;
    font-weight: bold;
  }
  
  .time-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #time {
    font-size: 4em;
    font-weight: 600;
    color: black;
  }
  
  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #f4b3c2;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
  }
  
  .progress-fill {
    height: 100%;
    background-color: #d46a8b;
    transition: width 0.2s ease-in-out;
  }
  
  .btn-container {
    display: flex;
    gap: 1em;
  }
  
  #btn-start,
  #btn-pause,
  #btn-reset {
    padding: 0.8em 1.6em;
    border-radius: 8px;
    background-color: white;
    color: palevioletred;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  #btn-start:hover,
  #btn-pause:hover,
  #btn-reset:hover {
    background-color: palevioletred;
    color: white;
  }
  