<div class="pomodoro-container">
    <div class="section-container">
        <button id="focus" class="btn btn-focus" [ngClass]="{ 'active': activeMode === 'focus' }" (click)="focus()">Focus</button>
        <button id="shortbreak" class="btn btn-shortbreak" [ngClass]="{ 'active': activeMode === 'shortBreak' }" (click)="shortBreak()">Short Break</button>
        <button id="longbreak" class="btn btn-longbreak" [ngClass]="{ 'active': activeMode === 'longBreak' }" (click)="longBreak()">Long Break</button>
    </div>
    <div class="time-btn-container">
        <span id="time">{{ formattedTime }}</span>
      
        <!-- Progress bar (if any) -->
        <div class="progress-bar">
          <div class="progress-fill" [style.width.%]="progressPercent"></div>
        </div>
      
        <div class="btn-container">
          <button id="btn-start" (click)="startTimer()">Start</button>
          <button id="btn-pause" (click)="pauseTimer()">Pause</button>
          <button id="btn-reset" (click)="resetTimer()">Reset</button>
        </div>
      </div>

    
</div>



